* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: noto sans;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    padding-top: 0.1px;
    position: relative;
}

#nav{
    height: 11vh;
    width: 100%;
    /* background-color: rgb(255, 127, 127); */
    margin-top: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav h1{
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vh;
    letter-spacing: -1px;
    position: relative;
}

#nav h1::after{
    content: "©";
    font-family: noto sans;
    font-weight: 400;
    font-size: 2.5vh;
    position: absolute;
    top:22%;
    right: 15%;
}

#nav h1::before{
    content: "model management";
    font-family: noto sans;
    font-weight: 400;
    font-size: 1.5vh;
    position: absolute;
    bottom: 14%;
    right: 21%;
    letter-spacing: 0.2px;
}

#nav h2{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 2.5vh;
    font-weight: 500;
}

#nav h2:nth-last-child(1){
    width: 10%;
}

#nav h2:nth-last-child(2){
    width: 29%;
}

#nav h2:nth-last-child(1){
    border-right: none;
}

#center{
    height: 80%;
    width: 100%;
    /* background-color: blue; */
    padding: 4vw 4vw 2vw 4vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    /* background-color: blue; */
    padding: 3vw;
    color: #fff;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}
#over1 h1{
    font-size: 3.4vw;
    font-weight: 500;
    line-height: 4vw;
}

#over1 h2{
    font-size: 1.5vw;
    padding: 2vw 2.2vw;
    font-weight: 400;
    /* background-color: brown; */
    border-radius: 50%;
    border: 2px solid #fff;
}

#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #fff;
    padding: 0.6vw 0;
}

#over2 h4{
    font-size: 1.2vw;
    font-weight: 500;
}

#over2 img{
    height: 2.8vw;
    margin-right: 8px;
}

#scroll {
    height: 40vh;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container {
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 1vw 2vw 2vw 2vw;
    background-color: #f8f8f8;
    animation-name: slide;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroll img {
    /* display: none; */
    height: 90%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    margin: 1vw;
    object-position: 30% 30%;
}

#scroll img:nth-child(5){
    object-position: top;
}

#scroll img:nth-child(6){
    object-position: 40%;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 1.5vw;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.5vw;
    margin-right: 2.2vw;
}

#alphabet h6{
    font-size: 1vw;
    font-style: italic;
    font-weight: 400;
    padding: 0.4vw 0.8vw;
    /* background-color: rgb(183, 255, 0); */
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all ease 0.2s;
}

#alphabet h6:hover{
    border: 1px solid black;
}

#page2{
    height: 100%;
    width: 100%;
    padding: 3vw 4vw 4vw 4vw;
    display: flex;
    gap: 3.2vw;
    justify-content: space-between;
    align-items: flex-start;

}

#content1{
    height: 55vw;
    width: 55vw;
    /* background-color: blueviolet; */
}

#content1 h2{
    font-size: 2.9vw;
    margin-top: 0.8vw;
    text-transform: uppercase;
    letter-spacing: -0.1vw;
}

#content1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

#content2{
    height: 43.8vw;
    width: 43.8vw;
    background-color: rgb(64, 226, 43);
    display: flex;
    flex-direction: column;
}

#text-block{
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: flex;
    gap: 6vw;
}

#text-block p{
    text-align: left;
    font-size: 1vw;
}

#text-block h3{
    text-align: left;
    font-size: 1.8vw;
    text-wrap: nowrap;
    font-weight: 500;
    margin: 0;
}

#content2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

#page3{
    height: 100%;
    width: 100%;
    padding: 15vw 4vw 4vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#content3{
    height: 42vw;
    width: 40vw;
    /* background-color: rgb(64, 226, 43); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#content3 img{
    height: 25vw;
    width: 25vw;
    object-fit: cover;
    padding: 20px 35px 20px 20px;
    align-items: center;
    position: relative;
    top: 4vw;
}

/* #overlay-i {
    background-color: brown;
    position: absolute;
} */

#overlay-i{
    /* background-color: brown; */
    font-size: 7vw;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -110%);

}

#content3 h4{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 10vw;
    padding: 1.5vw;
    margin-left: 1vw;
}

#content4{
    height: 42vw;
    width: 65vw;
    background-color: blueviolet;
}

#content4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

#page4{
    height: 100%;
    width: 100%;
    margin-top: 6vw;
    padding: 4vw;
}

#content5{
    height: 90%;
    width: 100%;
}

#content5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 38%;
}

#page5{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    position: relative;
    padding: 4vw 4vw 0vw 4vw;
    margin-top: -7vw;
}

#page5>h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: 900;
    margin-bottom: 6vh;
}

.elem {
    height: 16vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
}

.elem img{
    height: 110px;
    width: 110px;
    position: absolute;
    border-radius: 50%;
    left: 12%;
    object-fit: cover;
    opacity: 0;
    transition: all ease 0.4s;
}

#centerh{
    position: absolute;
    left: 20%;
}

#centerh h1{
    font-size: 3vw;
    font-weight: 400;
}

#centerh h5{
    font-size: 1vw;
    font-weight: 500;
}


.elem h4{
    font-size: 1.2vw;
    font-weight: 500;
    width: 6%;
}

.elem .elem-part1{
    width: 50%;
}

.elem-part1 h1{
    font-size: 3vw;
    font-weight: 400;
}

.elem-part1 h5{
    font-size: 1vw;
    font-weight: 500;
}

.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}

.elem:hover img{
    opacity: 1;
    left: 23%
}

#page6{
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    position: relative;
    padding: 4vw 4vw;
    margin-top: -3vw; 
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

#content7{
    height: 46vw;
    width: 90vw;
    /* background-color: blueviolet; */
}

#content7 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

#content8{
    height: 46vw;
    width: 100%;
    /* background-color: rgb(64, 226, 43); */
    /* padding: 3vw; */
}

#content8 h1{
    font-size: 3vw;
    margin-bottom: 1.5vw;
}

#content8 h3{
    font-size: 2.3vh;
    font-weight: 600;
    margin-bottom: 1.5vw;
}

#img-content2 {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2vw;
    margin-top: 4.8vw;
}

#imgcon1{
    height: 25vw;
    width: 22vw;
    object-fit: cover;
}

#imgcon1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

#imgcon2{
    height: 25vw;
    width: 22vw;
    object-fit: cover;
}

#imgcon2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 20%;
}

#page7{
    height: 100%;
    width: 100%;
    /* margin-top: 6vw; */
    padding: 4vw;
}

#content9{
    height: 100%;
    width: 100%;
}

#content9 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 38%;
}

#page8{
    height: 100%;
    width: 100%;
    padding: 1vw 4vw 4vw 4vw;
    display: flex;
    gap: 3.2vw;
    justify-content: space-between;
    align-items: flex-start;

}

#content10{
    height: 55vw;
    width: 55vw;
    /* background-color: blueviolet; */
}

#content10 h2{
    font-size: 2.9vw;
    margin-top: 0.8vw;
    text-transform: uppercase;
    letter-spacing: -0.1vw;
}

#content10 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

#content11{
    height: 42vw;
    width: 42vw;
    background-color: rgb(64, 226, 43);
    display: flex;
    flex-direction: column;
}

#text-block{
    margin-top: 1.9vw;
    margin-bottom: 1vw;
    display: flex;
    gap: 6vw;
}

#text-block p{
    text-align: left;
    font-size: 1.1vw;
    font-weight: 400;
}

#text-block h3{
    text-align: left;
    font-size: 1.4vw;
    text-wrap: nowrap;
    font-weight: 600;
    margin: 0;
}

#content11 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

#marque{
    width: 100%;
    /* background-color: rgb(253, 49, 49); */
    margin-top: 10vw;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 1vw;
    border-top: 0.2vw solid rgb(101, 101, 101);
    border-bottom: 0.2vw solid rgb(101, 101, 101);
}

#marque h1{
    display: inline-block;
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 1px black;
    color: transparent;
    margin-right: 16px;
    letter-spacing: 0.3vw;
    animation-name: fontslide;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fontslide {
  from{
        transform: translateX(0);
    }

    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#page9{
    height: 75%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    padding: 4vw;
    gap: 3.1vw;
    margin-top: 1vw;
}

#content12{
    height: 28.4vw;
    width: 15%;
}

#content12{
    font-size: 2.5vw;
    font-weight: 600;
    margin-top: -1.2vw;
}

#content13{
    height: 20vw;
    width: 42.5%;
    /* background-color: rgb(237, 103, 103); */
}

#content13 p{
    font-size: 2.4vh;
    font-weight: 500;
}

#content14 p{
    font-size: 2.4vh;
    font-weight: 500;
}

#contimg13{
    height: 20vw;
    width: 100%;
    margin-top: 3vw;
    /* background-color: rgb(221, 255, 0); */
}

#content13 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 40% 60%;
}

#content14{
    height: 20vw;
    width: 42.5%;
    /* background-color: rgb(0, 242, 36); */
}

#contimg14{
    height: 20vw;
    width: 100%;
    margin-top: 3vw;
    /* background-color: rgb(221, 255, 0); */
}

#content14 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 90% 10%;
}

#circleb{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2vw; 
    height: 2vw;
    border: 2px solid black; 
    border-radius: 50%;
    margin-right: 1vw; 
}

#footer{
    height: 11vh;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer h1{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5.5vh;
    letter-spacing: -1px;
    position: relative;
}

#footer h1::after{
    content: "©";
    font-family: noto sans;
    font-weight: 400;
    font-size: 2.5vh;
    position: absolute;
    top:22%;
    right: 15%;
}

#footer h1::before{
    content: "model management";
    font-family: noto sans;
    font-weight: 400;
    font-size: 1.5vh;
    position: absolute;
    bottom: 14%;
    right: 21%;
    letter-spacing: 0.2px;
}

#footer h2{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 2.2vh;
    font-weight: 500;
}

#footer h2:nth-last-child(1){
    border-right: none;
}

.social-icons{
    margin-top: 2vw;
    display: flex;
    gap: 1.5vw;
    justify-content: center;
    align-items: center;
}

.social-icons i{
    font-size: 1.5vw;
}

.copyright{
    margin-top: 1vw;
    display: flex;
    gap: 1.5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 150vw;
}